@import "mixins.css"

body
  font-family 'Roboto Slab', serif
  font-size 14px
  color #eee
  text-shadow 1px 1px 1px #555
  background-color #191719
  background linear-gradient(top bottom, #28343b 0%,#2a262b 64%,#191719 100%)


.float-right
  float right
.float-right-i
  float right !important
.float-left
  float left
.float-left-i
  float left !important
.header
  text-align center
  color #eee
.line-height-45
  line-height 45px
.line-height-30
  line-height 30px
.position-relative
  position relative
.position-absolute
  position absolute
.margin-0-auto
  margin 0 auto
.align-center
  text-align center
.device-row
  line-height 30px
  padding 10px 5px
.special
  position absolute
  top 600px
  left 600px